
### Python ###
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/

# LSP config files
pyrightconfig.json

# ===== ML / RL project specific =====

# models
*.pt
models/

# datasets
*.npz


# logs
wandb/
training_logs/
outs/
logs/

# misc
.vscode/
.DS_Store

oscillator/sh_scripts/
ball_on_plate/sh_scripts
*.sh
wandb/

ball_on_plate/results/trajectories/


