absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
barcode==1.0.4
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.3.0
cloudpickle==3.1.2
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1
coal==3.0.1
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
datasets==4.3.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
eigenpy==3.10.3
et_xmlfile==2.0.0
etils==1.14.0
evaluate==0.4.6
example-robot-data==4.3.0
executing==2.1.0
Farama-Notifications==0.0.6
fastjsonschema==2.20.0
filelock==3.19.1
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
gymnasium==1.3.0
h11==0.14.0
hf-xet==1.2.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==1.0.0
idna==3.10
ipykernel==6.29.5
ipython==8.29.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
Levenshtein==0.27.3
lxml==4.9.3
MarkupSafe==3.0.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
meshcat==0.3.2
mistune==3.0.2
mpmath==1.3.0
mujoco==3.9.0
multidict==6.7.0
multiprocess==0.70.16
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==6.0.3
notebook_shim==0.2.4
numpy==2.3.3
opencv-python==4.13.0.92
openpyxl==3.1.5
overrides==7.7.0
packaging==24.0
pandas==2.3.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
pin==3.7.0
platformdirs==4.3.6
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.4.1
protobuf==6.33.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycparser==2.22
pydantic==2.12.3
pydantic_core==2.41.4
pygame==2.5.2
Pygments==2.18.0
pyngrok==7.3.0
PyOpenGL==3.1.10
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-json-logger==2.0.7
python-Levenshtein==0.27.3
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.2.0
quadprog==0.1.13
RapidFuzz==3.14.3
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.1
scipy==1.16.2
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.42.1
setuptools==75.3.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
sympy==1.14.0
terminado==0.18.1
tifffile==2026.3.3
tinycss2==1.4.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
treepoem==3.28.0
typer-slim==0.20.0
types-python-dateutil==2.9.0.20241003
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
u-msgpack-python==2.8.0
uri-template==1.3.0
urllib3==2.2.3
virtualenv==20.34.0
wandb==0.22.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
xxhash==3.6.0
yarl==1.22.0
zipp==4.1.0
